.projects-info-container {
    width: 90%;
    margin: 0 2rem;
    max-height: 100%;
    transition: all 0.7s ease-in-out;
}

.hidden {
    max-height: 0;
    overflow: hidden;
}

.projects-info-cell {
    margin: 0.8rem;
}

.projects-info-cell a {
    color: white;
}

.projects-info-cell a:hover {
    color: aqua;
}